body{
    background-color: orange;
}

header {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
}
.logo {
    width: 15rem;
    margin-top: 10px;
}

.navbar {
    justify-content:space-between;
    
}
.form-control{
    justify-content:space-around;
}

.btn{
    display: inline-block;
    background-color:yellow;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #7e029d;
    
}
.btn-secondary{
    display: inline-block;
    background-color:#ff9900;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 14px;
    font-weight:medium;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #750092;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
    font-size: 20px;
    transition: opacity 0.9s , 0.6s font-size;
} 

.list-group{
    background-color: #326bcd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    list-style-type: none;
    padding: 50px;
    margin-top: 40px;
}

.modal-content{
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #d8d6c1;
  border: 5px solid #405c08;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: #540647;

}
.modal h5{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}


span{
    font-size: 2rem;
}

footer {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 5px;
}
.a_footer{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}


a:hover,a:focus{
    cursor: pointer;
    opacity: 0.8;
    font-size: 25px;
    color: #0714d0;
    transition: opacity 0.9s , 0.6s font-size;
}

.nav-link{
    text-align: right;
}
h1{
    font-size: 24px;
  font-weight: 700;
}
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
 

@media all and (max-width: 500px) {
    .list-group {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .list-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}